<div id="mapa">
  <input id="inputFilterPriceMin" type="text" v-model="filterPriceMin" class="hiddenInput">
  <input id="inputFilterPriceMax" type="text" v-model="filterPriceMax" class="hiddenInput">
  <div id="slider"></div>
  <h3 v-html="getResultsContent()"></h3>
    <google-map
      :center="center"
      :zoom="12"
      style="width: 100%; height: 500px"
    >
      <google-marker
        v-for="m in filteredMarkers"
        :position="m.position"
        :clickable="true"
        :draggable="false"
        @click="openInfoWindow(m)"
      >
        <info-window :opened.sync="m.isOpen">
          <h2>{{ m.address }}</h2>
          <h3>
            ${{ m.price }}.-
            ( incluido expensas: {{ m.includedExpenses }} )
            <ul>
              <li>{{ m.realState }}</li>
              <li>{{ m.m2 }}m2 ( total: {{ m.m2total }}m2 )</li>
              <li>{{ m.rooms }} ambiente(s)</li>
              <li>{{ m.bathrooms }} baño(s)</li>
              <li>{{ m.activeDays }} días activo</li>
            </ul>
          </h3>
          
        </info-window>
      </google-marker>
    </google-map>
</div>

<script type="text/javascript">

  var FLATS = '<%= flats %>'

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
<script src="js/vue-google-maps.js"></script>
<script src="js/googleMaps.js"></script>
